<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <title>MatchCine</title>
</head>
<body>
  <div class="content">
    <h1>MatchCine</h1>
    <h2>Em dúvida do que assistir com o mozão?</h2>
    <p>O MatchCine te ajuda a encontrar um filme que combina com vocês</p>
    
    <div class="access">      
      <a href="../template/entry.html"><img src="../img/enter.png" alt="entrar" width="25px">entrar</a>
      <span>ou</span> 
      <a href="/template/waiting.html" ><img src="../img/new.png" alt="nova sala">nova sala</a>     
      
    </div>
  </div>
</body>
</html>