<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Match</title>
</head>
<body>
  <div class="content">
    <div class="match">
      <h1>MATCH!</h1>
      <h2>Parece que você e o mozão combinam!</h2>
      <p>O filme da vez é...</p>
    </div>
    <div class="movie-match">
      <img src="../img/filme.jpg" alt="Cartaz do filme" title="tá chovendo hamburguer">
      <h2>Tá chovendo hamburguer</h2>
    </div>
  </div>
</body>
</html>