<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Ubuntu:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Swap</title>
  </head>
  <body>
    <div class="content">
      <div id="filmesSwap" class="movie-details">     
      </div>

      <div class="swap">
        <div class="swap-image">
          <button id="excluirFilme"><img src="../img/swapLeft.png" /></button>
        </div>
        <div id="adicionarFilme" class="swap-image">
          <button><img src="../img/swapRight.png" /></button>
        </div>
      </div>
    </div>

    <script src="/js/bancoFilmes.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/api.js"></script>
  </body>
</html>
